body {
    margin: 0;
    padding: 0;
    color: lightgrey;
    background-color: hsl(218, 28%, 13%);
    font-size: 18px;
    position: relative;
    font-family: "OpenSans Regular";
}

body > *:not(footer) {
    max-width: 1250px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

h2 {
    font-family: "Raleway Bold";
    font-size: 36px;
}

h3,
h4,
h5,
h6 {
    font-family: "Raleway Regular";
}

img {
    width: 100%;
}

footer {
    background-color: hsl(216, 53%, 9%);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: lightgrey;
}