.fylo__intro {
    padding: 48px;
    text-align: center;
}

.fylo__into__heading {
    margin-block-start: 32px;
}

.fylo__intro__navigation_header {
    font-size: 24px;
}

.fylo__intro__button {
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 30px;
    padding-block: 14px;
    padding-inline: 100px;
    color: white;
    margin-block: 32px;
}

.fylo__intro__button:hover,
.fylo__intro__button:focus {
    background-color: hsl(176, 68%, 64%);
}

.fylo__intro__navigation {
    margin-block-start: 100px;
}

.fylo__intro__navigation_list_item {
    margin-block: 48px;
}

.fylo__intro__navigation_heading {
    display: flex;
    flex-direction: column-reverse;
}

.fylo__intro__navigation_image {
    width: 20%;
    transform: translateX(200%);
}

@media (min-width: 600px) {
    .fylo__intro {
        max-width: 800px;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }

    .fylo__intro__navigation_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        column-gap: 20px;
    }

    .fylo__intro__navigation_list_item--security {
        margin-block-start: 24px;
    }
}