.fylo__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
}

.fylo__navigation {
    margin-block-start: 40px;
}

.fylo__navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fylo__navigation_list_item {
    margin-inline-start: 24px;
}

.fylo__navigation_link {
    color: lightgrey;
    font-size: 24px;
}

.fylo__navigation_link:hover,
.fylo__navigation_link:focus {
    color: white;
    border-bottom:1px solid white;
}

@media (min-width: 600px) {
    .fylo__heading {
        padding-inline: 48px;
    }
}