.fylo__productive {
    padding-inline: 48px;
    padding-block-end: 300px;
}

.fylo__productive__content {
    margin-block-start: 48px;
}

.fylo__productive__link {
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
    background-image: url('../icons/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-inline-end: 24px;
}

.fylo__productive__navigation {
    padding-block: 64px;
}

.fylo__productive__navigation--list_item {
    padding: 32px;
    background-color: hsl(219, 30%, 18%);
    margin-block-start: 32px;
    position: relative;
}

.fylo__productive__navigation--list_item_patel::before {
    content: url('../images/bg-quotes.png');
    position: absolute;
    margin-block-start: -75px;
    margin-inline-start: -16px;
}

.fylo__productive__navigation--author {
    display: flex;
    flex-direction: row;
}

.fylo__productive__navigation--author_name {
    font-family: "OpenSans Bold";
    color: white;
}

.fylo__productive__navigation--image {
    width: 64px;
    border-radius: 50%;
    margin-block-start: 8px;
}

.fylo__productive__navigation--author_profile {
    margin-inline-start: 24px;
}

@media (min-width: 700px) {
    .fylo__productive__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        column-gap: 20px;
    }

    .fylo__productive__navigation_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fylo__productive__navigation--list_item {
        margin-inline-start: 32px;
    }
}